body{
    background-color: #faedcd;
}

button{
    background-color: #ffba08;
    font-size: 15px;
    font-weight: bold;
}

h2, h3{
    color: #dc2f02;
}

main a {
    color:#03071e;
    font-size: 20px;
}

.tag {
    color: #370617;
}

#signup{
    background-color: #dc2f02;
}

.post button:hover{
    background-color: #d00000;
}

.post:nth-of-type(2n){
    background-color: #fefae0;
}